@using flutterwave_sub.Models;
@model Service

@{
    ViewBag.Title = "Service";
    IEnumerable<ApplicationUser> user = Model.Vendors.Select(x => x.ApplicationUser);
}

<h2>Service</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interval)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Manager", "manager")
</p>

<p>
    Your subcriped tenats
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanId)
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>                   
        <th>                  
            @Html.DisplayName("Last Name")
        </th>                 
        <th>                  
            @Html.DisplayName("Email")
        </th>                 
        <th>                  
            @Html.DisplayName("Phone Number")
        </th>   
    </tr>

    @foreach (var item in user)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
    }

</table>
